@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
  font-family: 'Montserrat', sans-serif;
}

header{
  font-size: 1.5em !important;
  margin-bottom: 1.5em;
}

input, label{
  width: 80%;
  margin-left: 10%;
  font-size: 1em;
}

select{
  width: 100%;
  height: 1.8em;
}

p{
  margin-bottom: 0;
  margin-top: 0;
}

.inputContainer{
  margin-bottom: 1em;
}

.arrowIcons{
    width: 0.6em;
    margin: 0;
}

.checkInButtons{
    background: none;
    border:1px solid black;
    font-size: 0.8em;
    width: 30%;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
}

.checkInButtons:hover, focus {
  background: #FBD100;
  transition: 0.2s;
  border: none;
}

.buttonsContainer, #checkContainer{
  overflow: auto;
}

#back, #anotherPic{
  float: left;
  margin-left: 1.5em;
}

#next, #nextStep {
  float: right;
  margin-right: 1.5em;
}

#logoContainer{
  width: 120px;
  margin-left: 40%;
  margin-bottom: 1em;
  bottom:0;
  left:0;
  right:0;
  position: fixed;
}

img{
  margin: 0 !important;
}


/* foto y video */

#photoContainer, #photoRegisterContainer, #photoContainer{
  display: none;
  }


#video{
  width: 80%;
  margin-left: 10%;
}

h1{
  text-align: center;
}

#takePicture, #close{
  background: black;
  border: none;
  color: white;
  font-size: 1em;
  width: 30%;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  margin-left: 35%;
}

#image{
  margin-left: 12.5% !important;
  width: 80%;
}

#img{
  margin-right: 0.5em !important;
  width: 90%;
  margin-left: 5%
}

#anotherPic{
  margin-left: 12.5%;
}

#nextStep{
  margin-right: 12.5%;
}

#confirmContainer{
  display:none;
}

#confirmMessage{
  font-size: 1.5em;
  float: left;
  margin-left: 2em;
  margin-top: 1.5em;
}

#check{
width: 15%;
margin-left: 20% !important;
float: left;
}

#checkContainer{
  margin-top: 30%;
  margin-bottom: 30%;
}


@media (min-width: 768px){

  header{
    font-size: 2em !important;
    margin-top:2em !important;
  }

  input, label{
    width: 60%;
    margin-left: 20%;
    font-size: 1.2em;
  }

  .inputContainer{
    margin-bottom: 1.5em;
  }

  .checkInButtons{
    width: 20%;
  }

  #back{
    margin-left: 20%;
  }
  
  #next{
    margin-right: 20%;
  }

  select{
    font-size: 0.8em;
  }

  #logoContainer{
    width: 300px;
    margin-left: 1em;
  }
     
  
}
  
  
@media (min-width: 1024px){

  input, label{
    width: 40%;
    margin-left: 30%;
  }

  .buttonsContainer{
    width:40%;
    margin-right: 0 !important;
    margin-left: 30%;
    margin-bottom: 2em;
  }

  .checkInButtons{
    width: 30%;
  }

  #back, #anotherPic{
    margin-left: 0;
  }
  
  #next, #nextStep{
    margin-right: 0;
  }
  
}
