@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    font-family: 'Montserrat', sans-serif;
}

header{
    text-align: center;
    font-size: 1.6em;   
    margin-top: 1em; 
}

img{
    width: 50%;
    margin-top: 3em;
    margin-bottom: 5em;
    margin-left: 25%;
}


.indexButtons{
    background: none;
    border:1px solid black;
    font-size: 1em;
    width: 55% !important;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#registerButton{
    margin-left: 22%;
}




.arrowIcons{
    width: 0.6em;
    margin: 0;
}

#checkoutButton{
    background: none;
    border: none;
    font-size: 1.2em;
    width: 60%;
    margin-left: 20%;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin-bottom: 0.5em;
}

#outIcon{
    width: 0.8em;
    margin: 0;
}

.indexButtons:hover, focus {
    background: #FBD100;
    transition: 0.2s;
    border: none;
}


@media (min-width: 768px){
      
  header{
    font-size: 3em;   
  }
    
  img{
    width: 35%;
    margin-top: 7em;
    margin-left: 32.5%;
  }

  .indexButtons{
    margin-top: 1em;
    font-size: 2em;
    width: 40%;
  }


  #checkoutButton{
    font-size: 2.3em;
  }
    

}


@media (min-width: 1024px){

  #checkoutButton{
    position: inherit;
    margin-top: 7em;
  }

}