header{
    text-align: center;
    font-size: 2em;   
    margin-top: 1em; 
}

img{
    width: 50%;
    margin-top: 3em;
    margin-bottom: 5em;
    margin-left: 25%;
}

button{
    background: none;
    border:1px solid black;
}