@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    font-family: 'Montserrat', sans-serif;
}

#indexContainer{
    display:none;
}

#container{
    margin-top: 20%;
}

header{
    text-align: center;
    font-size: 1.6em;   
    margin-top: 1em; 
}

.imagenContainer{
    width: 100%;
}

img{
    width: 50%;
    margin-top: 3em;
    margin-bottom: 5em;
    margin-left: 25%;
}


.indexButtons{
    background: none;
    border:1px solid black;
    font-size: 1em;
    width: 40% !important;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#registerButton{
    margin-left: 30%;
}

.arrowIcons{
    width: 0.6em;
    margin: 0;
}

#checkoutButton{
    background: none;
    border: none;
    font-size: 1.2em;
    width: 60%;
    margin-left: 20%;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin-bottom: 10%;
}

#outIcon{
    width: 0.8em;
    margin: 0;
}

.indexButtons:hover, focus {
    background: #FBD100;
    transition: 0.2s;
    border: none;
}

#buttonsIndex{
    overflow: auto;
}

#adm{
    float: left;
    margin-left: 5% !important;
}
#visits{
    float : right;
    margin-right: 5% !important;
    margin-left: 0 !important;
}

@media (min-width: 768px){
      
  header{
    margin-top: 10%;
    font-size: 2em;   
  }

  .imagenContainer{
    width: 60%;
    margin-top: 10%;
    margin-left: 25%;
  }
    
img{
    width: 35%;
  }

  .indexButtons{
    margin-top: 1em;
    font-size: 1.5em;
    width: 40% !important;
    margin-left: 30% !important;
  }


  #checkoutButton{
    font-size: 1.5em;
  }
    

}


@media (min-width: 1024px){

  header{
     margin-top: 5%;
     font-size: 1.5em !important;
  }

  #checkoutButton{
    position: inherit;
    margin-top: 7em;
  }

  .imagenContainer{
    width: 40%;
    margin-left: 33%;
    margin-top: 2em;
  }

  .indexButtons{
    width: 20% !important;
    margin-left: 40% !important;
    font-size: 1em !important;
  }


}