@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin:0;
}

header{
    overflow: auto !important;
    width: 100%;
    height: 4em;
    background: #FBD100;
    margin-bottom: 2em;
}

img{
    width: 4em;
    margin-left: 2em;
    float: left;
}

h1{
    margin: 0;
    font-size: 1.5em;
    width: 50%;
    float: left;
    margin-left: 1em;
    margin-top: 0.7em;
}

#administratorName{
float: right;
margin:0;
margin-top: 1.3em;
margin-right: 2em;
}

#infoContainer{
    overflow: auto;
}

#register{
    background: none;
    border:1px solid black;
    font-size: 1em;
    width: 20% !important;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    float: left;
    background: #FBD100;
    margin-left: 2em;
}

#searchAndDate{
    float: left;
    width: 35%;
    margin-left: 25%;
    margin-right: 5%;
   }

.search{
    overflow: auto;
  }

#searchInput{
  margin: 0;
  float: left;
  padding: 0;
  width: 85%;
  border: 1px solid #dadfe7; 
  background: #f5f5f5;
  height: 20px;
  border-top: 1px solid #dadfe7;  
  border-bottom: 1px solid #dadfe7;
  border-left: 1px solid #dadfe7;
  border-right: none;
  height: 37px;

}

.searchButton{
    width: 15%;
    margin: 0;
    float: left;
    background: #f5f5f5; 
    border-top: 1px solid #dadfe7;  
    border-bottom: 1px solid #dadfe7;
    border-right: 1px solid #dadfe7;
    border-left: none;
    height: 37px;
}

.searchIcon{
    width: 0.8em;
  }

#date{
    float: left;
    margin-top: 0.5em;
    margin-right: 0.5em;
}


/* The Modal (background) */
#infoModal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 10%; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color:rgb(39, 41, 50);
    background-color: rgba(39, 41, 50, 0.8);
    
  }
  
  /* Modal Content */
  #modalContent {
    margin: auto;
    height: 400px;
    width: 400px;
  /*   border-radius: 10px; */
    background-color: white;
  }

  #closeButton{
    width: 1em;
    margin-left: 90%;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  #registerVisitContent{
    width: 90%;
    margin-left: 5%;
    text-align: left;
  }

  input, label, .visited{
    width: 65%;
    margin-left: 17.5%;
    font-size: 1em;
  }

  .inputContainer, .visited{
    margin-bottom: 1.5em;
  }

  select{
      width: 100%;
      height: 25px;
  }

  #saveVisit{
    background: none;
    border:1px solid black;
    font-size: 1em;
    width: 40% !important;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: #FBD100;
    margin-left: 30%;
    margin-top: 1em;
  }
  
