<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>check-out</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/check-out.css" />
    
</head>
<body>
  <h1>Registrar salida</h1>
  <h2>DNI</h2>
  <input type="text">
  <button id="back">VOLVER</button>
  <button>ENVIAR</button>
    

  <script src="../controller/check-out.js"></script>
</body>
</html>